<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Article Start -->
                <article class="sigma_post sigma_post-list event-list"
                    *ngFor="let item of eventblock | paginate: { itemsPerPage: 4, currentPage: page }">
                    <div class="sigma_post-thumb">
                        <a routerLink="/event-details/{{item.id}}">
                            <img [src]="item.image" [alt]="item.title">
                        </a>
                        <div class="event-date-wrapper" [innerHtml]="getDateInitials(item.eventdate)"></div>
                    </div>
                    <div class="sigma_post-body">
                        <h5> <a routerLink="/event-details/{{item.id}}">{{item.title}}</a> </h5>
                        <p>{{item.shorttext}}</p>
                        <div class="sigma_post-meta">
                            <a routerLink="/event-details/{{item.id}}"> <i class="far fa-clock"></i>
                                {{item.eventtime}}</a>
                            <a routerLink="/event-details/{{item.id}}"> <i class="far fa-map-marker-alt"></i>
                                {{item.location}}</a>
                        </div>
                        <div class="section-button d-flex align-items-center">
                            <a routerLink="/event-details/{{item.id}}" class="sigma_btn-custom">Join Now <i
                                    class="far fa-arrow-right"></i> </a>
                        </div>
                    </div>
                </article>
                <!-- Article End -->
                <!-- Pagination Start -->
                <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="<" nextLabel=">">
                </pagination-controls>
                <!-- Pagination End -->
            </div>
            <div class="col-lg-4">
                <app-blog-sidebar></app-blog-sidebar>
            </div>
        </div>
    </div>
</div>