<div class="section sigma_post-single" *ngFor="let item of volunteerdetails">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="entry-content">
                    <div class="sigma_volunteer-detail mb-5">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="sigma_member-image style-1">
                                    <img [src]="item.image" class="mb-0" [alt]="item.name">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="sigma_volunteer-detail-inner mt-5 mt-lg-0 ps-0 ps-lg-4">
                                    <h3 class="sigma_member-name">{{item.name}}</h3>
                                    <span class="sigma_volunteer-detail-category">{{item.post}}</span>
                                    <ul class="sigma_volunteer-detail-info">
                                        <!-- Data -->
                                        <li *ngFor="let data of item.contactinfo">
                                            <i [class]="data.icon"></i>
                                            <span class="title">{{data.title}}:</span>{{data.text}}
                                        </li>
                                        <!-- Data -->
                                    </ul>
                                    <ul class="sigma_volunteer-detail-info">
                                        <!-- Data -->
                                        <li *ngFor="let data of item.social">
                                            <i [class]="data.icon"></i>
                                            <span class="title">{{data.title}}:</span><a href="{{data.text}}/{{item.name}}">{{data.text}}/{{item.name}}</a>
                                        </li>
                                        <!-- Data -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>About {{item.name}}</h4>
                    <div [innerHtml]="item.htmltext"></div>
                    <hr>
                    <h4>Skills</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            </p>
                            <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="mt-4 mt-lg-0">
                                <!-- Data -->
                                <div class="sigma_progress" *ngFor="let data of item.skills">
                                    <h6>{{data.title}}</h6>
                                    <span class="sigma_progress-count" [style.left.%]="data.value">{{data.value}}%</span>
                                    <div class="progress">
                                        <div class="progress-bar" [style.width.%]="data.value">
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Data -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>