<!-- Icons Start -->
<div class="section section-padding">
    <div class="container">
        <div class="section-title section-title-2 text-center">
            <p class="subtitle">Features</p>
            <h4 class="title">How We Can Help</h4>
        </div>
        <div class="row">
            <!-- Data -->
            <div class="col-md-6" *ngFor="let item of serviceblock | slice:0:4">
                <div class="sigma_icon-block icon-block-2">
                    <div class="icon-wrapper">
                        <i [class]="item.icon"></i>
                    </div>
                    <div class="sigma_icon-block-content">
                        <h5>{{item.title}}</h5>
                        <p>{{item.shorttext}}</p>
                        <i class="far fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <!-- Data -->
        </div>
    </div>
</div>
<!-- Icons End -->