<div class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="sigma_img-box">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="assets/img/service/details/2.jpg" alt="service">
                    </div>
                    <div class="col-lg-6 mt-5">
                        <img src="assets/img/service/details/3.jpg" alt="service">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="me-lg-30">
                <div class="section-title text-start">
                    <p class="subtitle">Features</p>
                    <h4 class="title">Check it Out Our Privacy Policy</h4>
                </div>
                <ul class="sigma_list list-2">
                    <li>Peace of Mind</li>
                    <li>Set For Pastor</li>
                    <li>100% Satisfaction</li>
                    <li>Trusted Company</li>
                </ul>
            </div>
        </div>
    </div>
</div>