<div class="section">
    <div class="row align-items-center">
<!--         <div class="col-lg-6">
            <div class="sigma_canvas">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div> -->
<!--         <div class="col-lg-6">
            <div class="me-lg-30">
                <div class="section-title mb-0 text-start">
                    <p class="subtitle">Benefits</p>
                    <h4 class="title">Best Market Around</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <a href="#">Lorem Ipsum has</a> been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.</p>
                </div>
            </div>
        </div> -->
    </div>
</div>