<div class="section section-padding">
    <div class="container">
        <div class="row">
            <!-- Data -->
            <div class="col-lg-4 col-md-6" *ngFor="let item of serviceblock | paginate: { itemsPerPage: 6, currentPage: page }">
                <a routerLink="/sermons" class="sigma_service style-2">
                    <div class="sigma_service-thumb">
                        <img [src]="item.image" [alt]="item.title">
                        <i [class]="item.icon"></i>
                    </div>
                    <div class="sigma_service-body">
                        <h5>{{item.title}}</h5>
                        <p>{{item.shorttext}}</p>
                    </div>
                </a>
            </div>
            <!-- Data -->
        </div>
        <!-- Pagination Start -->
        <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="<" nextLabel=">">
        </pagination-controls>
        <!-- Pagination End -->
    </div>
</div>