<app-header-three></app-header-three>
<app-banner></app-banner>
<!-- Sermons Start -->
<div class="section section-padding secondary-bg">
    <div class="container">
        <div class="row sigma_sermon-box-wrapper">
            <div class="col-lg-6">
                <app-next-event></app-next-event>
            </div>
            <div class="col-lg-6">
                <app-next-sermon></app-next-sermon>
            </div>
        </div>
    </div>
</div>
<!-- Sermons End -->
<app-services></app-services>
<app-about-text></app-about-text>
<app-page-cta></app-page-cta>
<app-location-map></app-location-map>
<app-ministry-two></app-ministry-two>
<app-faqs></app-faqs>
<app-video></app-video>
<app-ministry></app-ministry>
<app-blogs></app-blogs>
<div class="section mb-negative p-0">
    <app-features></app-features>
</div>
<footer class="sigma_footer footer-2 bg-cover bg-center bg-transparent light-overlay"
    [style.background-image]="'url(assets/img/footer.jpg)'">
    <app-footer></app-footer>
</footer>