<div class="section" *ngFor="let item of ministrydetails">
    <div class="container">
        <div class="entry-content">
            <span class="fw-600 custom-primary text-uppercase"
                *ngFor="let cat of getCategories(item.category) | slice:0:1">{{cat.title}}</span>
            <h3 class="entry-title">{{item.title}}</h3>
            <div class="sigma_post-single-thumb">
                <img src="assets/img/ministries/details/1.jpg" alt="video">
                <div class="sigma_box">
                    <div class="sigma_list-item">
                        <label>Ministry:</label>
                        <span>{{item.title}}</span>
                    </div>
                    <div class="sigma_list-item">
                        <label>Date:</label>
                        <span>{{item.postdate}}</span>
                    </div>
                    <div class="sigma_list-item">
                        <label>Category:</label>
                        <span *ngFor="let cat of getCategories(item.category) | slice:0:1">{{cat.title}}</span>
                    </div>
                    <div class="sigma_list-item">
                        <ul class="sigma_sm">
                            <!-- Data -->
                            <li *ngFor="let social of socialShare(item.title)">
                                <a href="javascript:void(0)" (click)="openSocialPopup(social)">
                                    <i [class]="social.iconClass"></i>
                                </a>
                            </li>
                            <!-- Data -->
                        </ul>
                    </div>
                </div>
            </div>
            <p>{{item.shorttext}}</p>
            <app-detail-chart></app-detail-chart>
            <div [innerHtml]="item.htmltext"></div>
            <div class="row">
                <!-- Dta -->
                <div class="col-md-4" *ngFor="let image of item.gallery">
                    <a href="{{image}}" class="gallery-thumb">
                        <img [src]="image" [alt]="item.title">
                    </a>
                </div>
                <!-- Dta -->
            </div>
            <app-related></app-related>
        </div>
    </div>
</div>