<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block">
                <!-- <div class="sigma_counter bg-cover primary-overlay bg-norepeat bg-center" style="background-image: url(assets/img/counter.jpg)">
                    <h4> <b class="counter" [countUp]="25">0</b> <span>+</span> </h4>
                    <p>About Mohan Lanka Foundation</p>
                </div> -->
            </div>
            <div class="col-lg-7">
                <div class="me-lg-30">
                    <div class="section-title mb-0 text-start">
                        <p class="subtitle">About</p>
                        <h4 class="title">About Mohan Lanka Foundation.</h4>
                    </div>
                    <p class="bg-transparent"> Mohan Lanka Foundation, an Sri Lankan social development non-profit organization, is directly benefitting over millions of children and their families every year. We have more than 100 live welfare projects on education, healthcare, livelihood, and women’s empowerment in over 200 remote villages across 25 districts of Sri Lanka.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="sigma_icon-block icon-block-3">
                                <div class="icon-wrapper">
                                    <i class="flaticon-charity"></i>
                                </div>
                                <div class="sigma_icon-block-content">
                                    <h5> Welfare & Development Programs </h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="sigma_icon-block icon-block-3">
                                <div class="icon-wrapper">
                                    <i class="flaticon-charity"></i>
                                </div>
                                <div class="sigma_icon-block-content">
                                    <h5> Child’s right to childhood. </h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="sigma_icon-block icon-block-3">
                                <div class="icon-wrapper">
                                    <i class="flaticon-charity"></i>
                                </div>
                                <div class="sigma_icon-block-content">
                                    <h5> Promoting women entrepreneurs. </h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="sigma_icon-block icon-block-3">
                                <div class="icon-wrapper">
                                    <i class="flaticon-charity"></i>
                                </div>
                                <div class="sigma_icon-block-content">
                                    <h5>Humanitarian response to emergencies. </h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <a routerLink="/about" class="sigma_btn-custom light">Learn More <i class="far fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>